extends base
block content
  section.search-vehicle
    .container
      .search-vehicle-form.card
        h2 Search for your vehicle
        form.form--vehicles.grid(action='/overview')
          .form-control
            label.hidden(for='make')
            select#make.vehicle-make(name='make')
              option(value='') All Makes
              each make in makes
                option(value=`${make._id}`)= `${make._id } (${make.count})`
              
          .form-control
            label.hidden(for='model')
            select#model.vehicle-model(name='model' )
              option.inner-model#inner-model(value='') All Models
              //- each model in models
              //-   option(value=`${model._id}`)= `${model._id } (${model.count})`
              //- 
          - const prices = [300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000, 1100000]
          .form-control
            label.hidden(for='minPrice')
            select#minPrice(name='minPrice')
              option(value='') minPrice
              each price in prices
                option(value=`${price}`)= `${price}`
          .form-control
            label.hidden(for='maxPrice')
            select#maxPrice(name='maxPrice')
              option(value='') maxPrice
              each price in prices
                option(value=`${price}`)= `${price}`
              
          input.btn.btn-primary(type='submit' value='Search')

  section.featured-vehicle.my-2
    h3.lg.text-center.my-1
      | Featured Vehicles
    .container
      .grid.grid-4.text-center.my-1
        each vehicle in featuredVehicles
          .vehicle-card
            a(href=`/vehicle/${vehicle.slug}`)
              img(src=`images/vehicles/${vehicle.imageCover}` alt='')
              .grid-info
                .featured-name
                  h4= `${vehicle.overview.year} ${vehicle.make} ${vehicle.model}`
                .featured-price
                  span= `KSH ${vehicle.price}`
                .featured-mileage
                  span= `Mileage: ${vehicle.overview.mileage}`
                .featured-year.sm
                  span= `Year: ${vehicle.overview.year}`
    h3.text-center
      span
        a.text-primary.featured-see--more(href='/overview') see all cars

  section.services
    .container
      h2.md.text-center.my-1
        | Services Offered
      .grid.grid-3.text-center.my-4
        div
          i.fas.ta-server.fa-3x
          p We have quality and asured vehicles 
        div
          i.fas.ta-server.fa-3x
          p Streamlined vehicle importation process
        div
          i.fas.ta-server.fa-3x
          p Vehicle inspection and quality assuarance 

  section.brands
    h2.md.text-center.my-2
      | Popular Brands
    .container.flex
      .card
        h4 BMW
        img(src='images/logos/bmw.png' alt='')
      .card
        h4 Lexus
        img(src='images/logos/lexus.png' alt='')
      .card
        h4 Mazda
        img(src='images/logos/mazda.png' alt='')
      .card
        h4 Mitsubishi
        img(src='images/logos/mitsubishi.png' alt='')
      .card
        h4 Toyota
        img(src='images/logos/toyota.png' alt='')
      .card
        h4 Volkswagen
        img(src='images/logos/volkswagen.png' alt='')
    h3.text-center.m-1
      span
        a.text-primary.featured-see--more(href='/brands') see all brands                 
