extends base    
block content
  section.position-relative.d-flex.flex-column.my-3(style='min-height: 100vh; overflow: hidden;')
    .search-vehicles.my-2
      .container.search-page-container
        .row
          .col-lg-3.col-md-12
            .left-side-filter
              .filter-box
                .search-vehicles-form.card
                  h2.box-header.sm
                    | Filter by
                    span.clear-all.m-1 Clear all
                  form.grid
                    .form-control
                      label.hidden(for='make')
                      select#make(name='make')
                        option(value='') All Makes
                        option(value='mazda') Mazda
                        option(value='Toyota') Toyota
                        option(value='Nissan') Nissan
                        option(value='BMW') BMW
                        option(value='Ford') Ford
                        option(value='Volkswagen') Volkswagen
                    .form-control
                      label.hidden(for='model')
                      select#model(name='model')
                        option(value='') All Models
                    .form-control
                      label.hidden(for='minPrice')
                      select#minPrice(name='minPrice')
                        option(value='') minPrice
                        option(value='300000') 300000
                        option(value='400000') 400000
                        option(value='500000') 500000
                        option(value='600000') 600000
                        option(value='700000') 700000
                        option(value='800000') 800000
                        option(value='900000') 900000
                        option(value='1000000') 1000000
                        option(value='1100000') 1100000
                    .form-control
                      label.hidden(for='maxPrice')
                      select#maxPrice(name='maxPrice')
                        option(value='') maxPrice
                        option(value='300000') 300000
                        option(value='400000') 400000
                        option(value='500000') 500000
                        option(value='600000') 600000
                        option(value='700000') 700000
                        option(value='800000') 800000
                        option(value='900000') 900000
                        option(value='1000000') 1000000
                        option(value='1100000') 1100000
                    input.btn.btn-primary(type='submit' value='Search')
          .col-lg-9.col-md-12
            .main-list
              .main-content
                .car-list-items
                  each vehicle in vehicles
                    .list__vehicle-card
                      .car-item-row
                        .row
                          .p-r-o.col-lg-4.col-md-12
                            .car-image-wrapper
                              .img-item
                                .img-item-inner(style=`background-image: url(images/vehicles/${vehicle.imageCover})`)
                              span.image-count
                                span= vehicle.images.length
                                i.fas.fa-camera.ml-2
                          .col-lg-8.col-md-12
                            .car-info
                              a.link(href=`/vehicle/${vehicle.slug}`)
                                h3.strong.text-secondary=`${vehicle.make} ${vehicle.model} ${vehicle.overview.year}`
                              .row.row
                                .col
                                  .row
                                    .col-md-6.col-sm-6.col-12
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/fuel.svg' alt='fuel svg')
                                        span= vehicle.overview.Fuel
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/gearbox.svg' alt='gearbox svg')
                                        span= vehicle.overview.transmission
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/year.svg' alt='')
                                        span= vehicle.overview.year
                                    .col-md-6.col-sm-6.col-12
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/mileage.svg' alt='')
                                        span= vehicle.overview.mileage
                                      .car-spec-field 
                                        span.spec-icon.mr-2
                                          img(src='/images/engine-default.svg' alt='')
                                        span= vehicle.overview.engineSize
                                      
                                .col
                                  .test-right.car-offer
                                    .car-price
                                      span= `KSH ${vehicle.price}`
                                    .details
                                      a.link(href=`/vehicle/${vehicle.slug}`) 
                                        button.btn.btn-primary view details

