extends base    
block content
  section.position-relative.d-flex.flex-column.my-3(style='min-height: 100vh; overflow: hidden;')
    .search-vehicles.my-2
      .container.search-page-container
        .row
          .col-lg-3.col-md-12
            .left-side-filter
              .filter-box
                .search-vehicles-form.card
                  h2.box-header.sm
                    | Filter by
                    span.clear-all.m-1 Clear all
                  form.form--vehicles.grid
                    .form-control
                      label.hidden(for='make')
                      select#make.vehicle-make(name='make')
                        option(value='') All Makes
                        each make in makes
                          option(value=`${make._id}`)= `${make._id } (${make.count})`
                        
                    .form-control.model-select
                      label.hidden.model-hidden(for='model')
                      select#model.vehicle-model(name='model')
                        option.inner-model#inner-model(value='') All Models
                        //- each model in models
                        //-   option(value=`${model._id}`)= `${model._id } (${model.count})`
                          
                    - const prices = [300000, 400000, 500000, 600000, 700000, 800000, 900000, 1000000, 1100000]
                    .form-control
                      label.hidden(for='minPrice')
                      select#minPrice(name='minPrice')
                        option(value='') minPrice
                        each price in prices
                          option(value=`${price}`)= `${price}`
                    .form-control
                      label.hidden(for='maxPrice')
                      select#maxPrice(name='maxPrice')
                        option(value='') maxPrice
                        each price in prices
                          option(value=`${price}`)= `${price}`
                        
                    input.btn.btn-primary(type='submit' value='Search')
          .col-lg-9.col-md-12
            .main-list
              .main-content
                .car-list-items
                  each vehicle in vehicles
                    .list__vehicle-card
                      .car-item-row
                        .row
                          .p-r-o.col-lg-4.col-md-12
                            .car-image-wrapper
                              .img-item
                                .img-item-inner(style=`background-image: url(images/vehicles/${vehicle.imageCover})`)
                              span.image-count
                                span= vehicle.images.length
                                i.fas.fa-camera.ml-2
                          .col-lg-8.col-md-12
                            .car-info
                              a.link(href=`/vehicle/${vehicle.slug}`)
                                h3.strong.text-secondary=`${vehicle.make} ${vehicle.model} ${vehicle.overview.year}`
                              .row.row
                                .col
                                  .row
                                    .col-md-6.col-sm-6.col-12
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/fuel.svg' alt='fuel svg')
                                        span= vehicle.overview.Fuel
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/gearbox.svg' alt='gearbox svg')
                                        span= vehicle.overview.transmission
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/year.svg' alt='')
                                        span= vehicle.overview.year
                                    .col-md-6.col-sm-6.col-12
                                      .car-spec-field
                                        span.spec-icon.mr-2
                                          img(src='/images/mileage.svg' alt='')
                                        span= vehicle.overview.mileage
                                      .car-spec-field 
                                        span.spec-icon.mr-2
                                          img(src='/images/engine-default.svg' alt='')
                                        span= vehicle.overview.engineSize
                                      
                                .col
                                  .test-right.car-offer
                                    .car-price
                                      span= `KSH ${vehicle.price}`
                                    .details
                                      a.link(href=`/vehicle/${vehicle.slug}`) 
                                        button.btn.btn-primary view details
