extends base
block append head
  link(rel='stylesheet' href='/css/utilities.css')
  link(rel='stylesheet' href='/css/detailV.css')
  link(rel='stylesheet' href='/css/style.css')
 
block content
  section.detail-view.position-relative.d-flex.flex-column.my-2(style='min-height: 100vh; overflow: hidden;')
    
    .main-page-wrapper
      .breadcrumbs
        .container
      
      .listing-top
        .container
          .row
            .col-lg-5
              .listing-title.p-1= `${vehicle.overview.year} ${vehicle.make} ${vehicle.model} For Sale`
            .col-lg
              .listing-price.p-1= `KSH ${vehicle.price}` 
      
      .listing-details
        .container.detail-page-container
          .row
            
            .col-lg-8.content
              .listing-content
                .listing-gallery
                  .carousel
                    button.carousel__button.carousel__button--left.is-hidden
                      img(src="/images/nav-arrow-left-white.svg" alt="left arrow")
                    .carousel__track-container
                      ul.carousel__track
                        each image, i in vehicle.images            
                          li.carousel__slide.current-slide
                            img.carousel__image(src=`/images/vehicles/${image}` alt=`vehicle${i + 1}`)
                       
                    button.carousel__button.carousel__button--right
                      img(src="/images/nav-arrow-right-white.svg" alt="right arrow")
                    .carousel__nav
                      button.carousel__indicator.current-slide
                      button.carousel__indicator
                      button.carousel__indicator
                .listing-info
                  .description
                    .features-subheading
                      h3.vehicle-description-heading.p-2.lead Description
                    .listing-info--description
                      .description-wrapper
                        p.vehicles-description.p-2= vehicle.description
                  .overview
                    .overview-subheading
                      h3.vehicle-overview-heading.p-2.lead Vehicle overview
                    .listing-info--overview
                      .overview-warapper
                        ul.overview-list
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/year.svg" alt="")
                                
                              div
                                span= vehicle.overview.year
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/fuel.svg" alt="")
                              div
                                span= vehicle.overview.Fuel
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/engine-default.svg" alt="")
                                
                              div
                                span= `${vehicle.overview.engineSize} cc`
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/gearbox.svg" alt="")
                                
                              div
                                span= vehicle.overview.transmission
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/comfort-default.svg" alt="")
                                
                              div
                                span 5 seats
                          li.vehicle-key-info-list__item.p-2
                            
                            .car-spec-field
                              span.spec-icon.mr-2
                                img(src="/images/mileage.svg" alt="")
                                
                              div
                                span= `${vehicle.overview.mileage} Km`
                  .features.my-3
                    .features-subheading
                      h3.vehicle-features-heading.p-2.lead Vehicle features
                    .listing-info--features
                      .features-warapper
                        ul.features-list

                          each feature in vehicle.features
                            li.vehicle-key-info-list__item.p-2
                              .car-spec-field
                                span.spec-icon.mr-2
                                  i.fas.fa-check
                                div
                                  span= feature
                          
            
            .col-lg-4.sidebar
              .listing-sidebar
                div
                  .view-contact
                    h5.contact-heading Contact the seller
                .listing-contact-form
                  .contact-form-content
                    div
                      form.contact-form
                        .row
                          .col-12
                            input.e-input.m-small(type="text" placeholder="Your Name" value="" name="name")
                        .row
                          .col-12
                            input.e-input.m-small(type="email" placeholder="Your Email" value="" name="email")
                        .row
                          .col-12
                            input.e-input.m-small(type="text" placeholder="Your Mobile Number" value="" name="mobileNumber")
                        .row
                          .col-12
                            textarea.e-input.m-small.m-has-min-height(name="mesage")
                        button.b-btn.m-btn-blue(type="submit")
                          span.button-text Send Message
                          
  script(src='/js/carousel.js')
